#home{
    padding: 1rem;
}

#cards{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.loader{
    margin-left: 50%;
    margin-top: 10%;
    transform: translateX(-50%);
    z-index: 1000;
}