#movie_card{
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(7px);
}

#movie_card img{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#movie_card p{
    padding: 0.3rem 1rem 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    /* border */
    cursor: pointer;
    margin-top: -40px;
    color: #fff;
    font-size: 1.2rem;
}

#mov_card_con{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-family: sans-serif;
    color: #fff;
}

#mov_card_con h1{
    color: #fff;
    letter-spacing: 5px;
};